---
name: Update dependent repositories
on:
  push:
    branches:
      - main
jobs:
  update-dependent-repo:
    uses: networkservicemesh/.github/.github/workflows/update-dependent-repositories-gomod.yaml@main
    with:
      dependent_repositories: '["sdk-vpp", "sdk-sriov", "cmd-nse-l7-proxy"]'
    secrets:
      token: ${{ secrets.NSM_BOT_GITHUB_TOKEN }}
